@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
main{
    margin: 20px;
    display: block;
    width: min-content;
    padding: 20px;
    border: lightgrey solid 1px;
    border-radius: 10px;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

section h1{
    font-size: 16px;
    color: grey;
}

.titulo{
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    text-align: center;
}

.titulo h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.titulo p{
    font-size: 16px;
}

.texto {
    display: block;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid #b8bec0;
    flex-grow: 1;
}
.texto::placeholder{
    font-size: 18px;
    color: #686362;
}

.tipoDocLabel{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    left: 75px;
    top: 325px;
}

.none {
    display: inline-block;
    height: 60px;
    width: 20%;
    background-color: white;
    border: none;
    flex-grow: 1;
    font-size: 20px;
}

.checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    margin-bottom: 10px;
}
.checkbox a{
    text-decoration: underline black;
    font-weight: bold;
}

.checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark2 {
    position: absolute;
    top:0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 2px;
}

.checkmark2:after{
    content:"";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark2:after{
    display: block;
}

.checkbox .checkmark2:after {
    top: 2px;
	left: 3px;
	width: 5px;
	height: 5px;
    border: solid green;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.button{
    border:none;
    border-radius: 10px;
    background-color: green;
    width: 100%;
    height: 46px;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.button:hover{
    background-color: green;
}