@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
main{
    margin: 50px;
    display: block;
    width: max-content;
    padding: 30px;
    border: orange solid 1px;
    border-radius: 10px;
}
section{
    display: block;
    margin-bottom: 35px;
}

.titulo{
    font-size: 31px;
    margin-bottom: 35px;
}

section h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.seleccion{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.seleccion input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: inset 0 2px 3px lightgrey;
}

.seleccion input:checked ~ .checkmark {
    background-color: white;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.seleccion input:checked ~ .checkmark:after{
    display: block;
}

.seleccion .checkmark:after{
    top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: orange;
}

.sinMargen{
    margin-bottom: 0;
}
.texto {
    display: block;
    padding-top: 7px;
    padding-left: 12px;
    padding-bottom: 4px;
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    height: 25px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: inset 0 2px 3px lightgrey;
}
.texto::placeholder{
    font-size: 22px;
}

.checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark2 {
    position: absolute;
    top:0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px lightgrey;
}

.checkmark2:after{
    content:"";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark2:after{
    display: block;
}

.checkbox .checkmark2:after {
    top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
    border: solid orange;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

ul{
    padding-left: 20px;
    list-style: none;
}

li{
    font-size: 18px;
    text-decoration: underline lightgrey;
}

ul li{
    position: relative;
    padding-bottom: 10px;
}
ul li:before{
    content: " ";
    position: absolute;
    border-right:2px solid orange;
    border-bottom:2px solid orange;
    width:10px;
    height:10px;
    top: 4px;
    left: -20px;
    transform: rotate(-45deg);
}

li:hover{
    text-decoration: underline grey;
}

.button{
    border:none;
    border-radius: 10px;
    background-color: orange;
    width: 100%;
    height: 46px;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.button:hover{
    border: 2px solid orange;
    background-color: white;
    color: grey; 
}
