
*{
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
main{
    margin: 20px;
    display: block;
    width: max-content;
    padding: 30px;
    border: lightgrey solid 1px;
    border-radius: 10px;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 40px;
    
}

.titulo{
    margin-bottom: 18px;
    width: 600px;
}

.titulo h1{
    font-size: 30px
}

.texto {
    display: block;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    width: 50%;
    background-color: white;
    border: 1px solid #979B9C;
    box-shadow: inset 0 1px 2px lightgrey;
    flex-grow: 1;
}

.texto::placeholder{
    font-size: 15px;
    color: #7E7A79;
}

.tipoDocLabel{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    left: 75px;
    top: 325px;
}

.none {
    display: inline-block;
    height: 60px;
    width: 20%;
    background-color: white;
    border: none;
    flex-grow: 1;
    font-size: 20px;
}